<div class="section-title">
  <h2>About</h2>
  <p>
    This blog is a small project to get to know Ruby on Rails. I've previously used with PHP (probably 8-9 years ago), and Angular 2 when it comes to web development. But recently I've mainly been working with Swing applications and the WebSwing-library.
    
    So I felt like it was time to look into something new, hence this blog.
  </p>
</div>
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('resize.png', class: "img-fluid") %>
  </div>
  <div class="col-lg-8 pt-4 pt-lg-0 content">
    <h3>Scrum Master &amp; Developer.</h3>
    <p class="fst-italic">
      
    </p>
    <div class="row">
      <div class="col-lg-6">
        <ul>
          <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 July 1992</span></li>
          <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Östersund, Sweden</span></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul>
          <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>29</span></li>
          <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor in Information Systems</span></li>
        </ul>
      </div>
    </div>
    <p>
      If you can't find me in front of a computer, then I'm probably out exercising in some way. During the weeks I usually go bouldering, go to the gym, play squash or padel. When I have a few days off work I try to go outdoors, skiing, hiking, ice skating or some other kind of small adventure.
      <br><br>
      I feel like that defines me quite well as a person. I always want to stay active and experience new new things. That goes for my professional life as well. I want to improve my skills and experience new things!
    </p>
  </div>
</div>