<div class="image text-center">
  <%= image_tag(@post.author.avatar_thumbnail, class: "rounded-circle") %>
</div>
<div>
  <h6 class="text-center pt-2">
    <%= @post.author.name %>
  </h6>
</div>
<div>
  <p class="text-center">
    <em>
      <small>
        <%= @post.author.bio %>
      </small>
    </em>
  </p>
</div>