<div class="row">
  <div class="col-md-4">    
    <div class="card">
      <div class="card-header">
        <h6 class='card-tite mb-0'>New about page</h6>
      </div>
        <%= render 'form' %>
    </div>
  </div>
</div>