.readers.home.index {
  .post-card {
    height: 450px;
    .header-image {
      height: 200px;
      background-size: cover;
      background-position: center;
    }
  }
}

.readers.tagged {
  .post-card {
    height: 450px;
    .header-image {
      height: 200px;
      background-size: cover;
      background-position: center;
    }
  }
}

.readers.posts.show {
  .post-card {
    .header-image {
      height: 400px;
      background-size: cover;
      background-position: center;
    }
    .image-element {
      text-align: center;
      img {
        max-width: 80%;
      }
    }
  }
}

h3 {
  font-size: 1.4rem;
}

.unstyled-link {
  :hover :focus{
    text-decoration: none; /* no underline */
  }
  text-decoration: none; /* no underline */
}