<div class="card-header">
  <h6 class='card-title mb-1'>Tags</h6>
</div>
<div class="card-body">
  <h6 class='card-title mb-1'>Add Tag</h6>
  <%= form_with(model: post, data: { remote: "true" }) do |form| %>
    <div class="row mx-0 justify-content-md-center">
      <%= form.text_area :tag_list, class: 'form-control col-md-auto' %>
    </div>

    <div class="actions mt-2 d-grid gap-2">
      <%= form.submit "Add Tag", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>
<div class="card-footer">
  <h6 class='card-title mb-1'>Existing Tags</h6>
  <% post.tags.each do |tag |%>
    <span class="badge bg-secondary me-1"><%= tag.name %></span>
  <% end %>
</div>