
<footer class="footer" style="background-color: #b7b7b7">
  <div class="container-fluid">
    <nav class="navbar nav-footer navbar-expand">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <div class="nav-item ">
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/in/fritjof-h%C3%B6st/"
                role="button"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="nav-item">
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://github.com/FritjofH"
                role="button"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2); height: 38px;">Fritjof Höst © 2021</div>
  </div>
</footer>